.PanelFrame {
    height:100vh;
    width:13vw;
    border-right: 1px solid #BFA181;
    z-index: 2;
    position: relative;
    background-color:#222831;
}

.PanelContainer {
    display: flex;
    height:100vh;
    background-color: #393E46;
}

.CollapseButton {
    display: flex;
    text-align: center;
    align-items: center;
    position: absolute;
    max-height: 5vh;
    max-width: 5vw;
    top: 4vh;
    right: -1.5vw;
    border-radius: 40%;
    background-color: #222831;
    font-size: 1vw;
    color: #DFD0B8;
    border: 3px solid #948979;
    border-spacing: 0;
}

.CollapseButton:hover {
    color: #0A1828;
    background-color: #948979;
    border: 1px solid #0A1828;
}

#Panel {
    margin-top: -2.3px;
    width: 20vw;
    border-right: 3px solid #948979;
    border-top: transparent;
    transition: width 2s;
    z-index: 2;
}

#Panel.collapsed {
    width: 10vw;
    transition: width 2s;
}