.PanelFrame {
    height:100vh;
    width:13vw;
    border-right: 1px solid black;
}

.PanelContainer {
    display: flex;
    height:100vh;
}

.CollapseButton {
    max-height: 5vh;
    margin-left: -0.9px;
    border-radius: 0;
    background-color: white;
    color: black;
    border: 1px solid black;
    border-left-color: transparent;
    border-top-color: transparent;
    border-bottom-right-radius: 15%;
    z-index: 3;
}

.CollapseButton1 {
    position: absolute;
    max-height: 5vh;
    border-radius: 0;
    background-color: white;
    color: black;
    border: 1px solid black;
    border-left-color: transparent;
    border-top-color: transparent;
    border-bottom-right-radius: 15%;
    z-index: 2;
}