.PanelFrame {
    height:100vh;
    width:13vw;
    border-right: 1px solid black;
    z-index: 2;
    position: relative;
    background-color: white;
}

.PanelContainer {
    display: flex;
    height:100vh;
}

.CollapseButton {
    position: absolute;
    max-height: 5vh;
    right: 0;
    border-radius: 0;
    background-color: white;
    color: black;
    border: 1px solid black;
    border-left-color: transparent;
    border-top-color: transparent;
}

.CollapseButton1 {
    position: absolute;
    max-height: 5vh;
    border-radius: 0;
    background-color: white;
    color: black;
    border: 1px solid black;
    border-left-color: transparent;
    border-top-color: transparent;
    z-index: 1;
}